@model TraceEventAPIServer.Models.StackViewerViewModel
@using TraceEventAPIServer.Extensions
@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TraceEvent Viewer</title>

    <link href="/bootstrap.min.css" rel="stylesheet" />
    <link href="/site.css" rel="stylesheet" />
    <link href="/bootstrap-tagsinput.css" rel="stylesheet" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/fileviewer?filename=@Model.Filename">File Summary</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/stackviewer/summary?@Model.ToString()">Profile Summary</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 1px;">

@using (Html.BeginForm("Hotspots", "Template", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, htmlAttributes: new { @class = "form-horizontal", role = "form" }, antiforgery: false))
{
    @Html.HiddenFor(m => m.Filename)
    @Html.HiddenFor(m => m.StackType)
    @Html.HiddenFor(m => m.SymPath)
    @Html.HiddenFor(m => m.SrcPath)
    @Html.HiddenFor(m => m.ModulesFilter)
    @Html.HiddenFor(m => m.ImageFilter)

    <div>
        <div style="float: left; border: 1px solid #000; width: 24%; margin-top: 10px">
            <h4 style="padding-left: 10px; background: #E7E7E7; color: #000;">Time Filters</h4>

            <div>
                <div style="height: 30px;">
                    <div id="startdoc" style="float: left; padding-left: 10px; width: 130px"><a href="#" data-toggle="modal" data-target="#startTimeDocumentation">Start Time</a></div>
                    <div style="float: left; padding-left: 10px;">@Html.TextBoxFor(m => m.Start)</div>
                </div>
                <div style="height: 30px; ">
                    <div id="enddoc" style="clear: left; float: left; padding-left: 10px; width: 130px"><a href="#" data-toggle="modal" data-target="#endTimeDocumentation">End Time</a></div>
                    <div style="float: left; padding-left: 10px;">@Html.TextBoxFor(m => m.End)</div>
                </div>
            </div>

            <h4 style="padding-left: 10px; background: #E7E7E7; color: #000; padding-top: 2px; padding-bottom: 2px;">Include if any frame in callstack matches ...</h4>
            <div style="padding-left: 10px; height: 42px;">@Html.HiddenFor(m => m.IncPats)</div>

            <h4 style="padding-left: 10px; padding-top: 2px; padding-bottom: 2px; background: #E7E7E7; color: #000;">Exclude if any frame in callstack matches ...</h4>
            <div style="padding-left: 10px; height: 42px;">@Html.HiddenFor(m => m.ExcPats)</div>

            <h4 style="padding-left: 10px; background: #E7E7E7; color: #000; padding-top: 2px; padding-bottom: 2px;">Group stack frames if they match ...</h4>
            <div style="padding-left: 10px; height: 42px;">@Html.HiddenFor(m => m.GroupPats)</div>

            <h4 style="padding-left: 10px; background: #E7E7E7; color: #000; padding-top: 2px; padding-bottom: 2px;">Fold stack frames (to their parent frames) if they match ...</h4>
            <div style="padding-left: 10px; height: 42px;">@Html.HiddenFor(m => m.FoldPats)</div>

            <div style="padding-top: 10px; padding-left: 10px; padding-bottom: 10px;">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
}

        @RenderBody()
        <hr />
    </div>

    <script src="/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/bootstrap-tagsinput.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#IncPats').tagsinput();
            $('#ExcPats').tagsinput();
            $('#GroupPats').tagsinput();
            $('#FoldPats').tagsinput();
        });
    </script>

        @RenderSection("scripts", required: false)
        </body>
</html>