@{
    ViewBag.Title = "Summary View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TraceEventAPIServer.Extensions
@model TraceEventAPIServer.Models.StackViewerViewModel

<h4>Summary View</h4>

<table id="hotspots">
    <thead>
        <tr>
            <td><a href="/Content/documentation.html#Name">Name</a></td>
            <td><a href="/Content/documentation.html#ExcMetricP">Exclusive Metric %</a></td>
            <td><a href="/Content/documentation.html#ExcMetric">Exclusive Metric</a></td>
            <td><a href="/Content/documentation.html#ExcMetricC">Exclusive Count</a></td>
            <td><a href="/Content/documentation.html#IncMetricP">Inclusive Metric %</a></td>
            <td><a href="/Content/documentation.html#IncMetric">Inclusive Metric</a></td>
            <td><a href="/Content/documentation.html#IncMetricC">Inclusive Count</a></td>
            <td><a href="/Content/documentation.html#FoldCount">Fold Count</a></td>
            <td><a href="/Content/documentation.html#First">First</a></td>
            <td><a href="/Content/documentation.html#Last">Last</a></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var node in Model.TreeNodes)
        {
            <tr data-tt-id="@Html.Encode(node.ContextId)" data-tt-parent-id="@Html.Encode(node.ParentContextId)" data-tt-branch="@node.HasChildren.ToString().ToLower()">
                <td class="node">@Html.MyRouteLink(node.Name, "Callers", new { name = node.Id }, new[] { "path" })</td>
                <td>@node.ExclusiveMetricPercent.ToString("F")%</td>
                <td>@node.ExclusiveMetric.ToString("F")</td>
                <td>@node.ExclusiveCount</td>
                <td>@node.InclusiveMetricPercent.ToString("F")%</td>
                <td>@node.InclusiveMetric.ToString("F")</td>
                <td>@node.InclusiveCount</td>
                <td>@node.ExclusiveFoldedMetric</td>
                <td>@node.FirstTimeRelativeMSec</td>
                <td>@node.LastTimeRelativeMSec</td>
            </tr>
        }
    </tbody>
</table>