@{
    Layout = null;
}

@using TraceEventAPIServer.Extensions
@model TraceEventAPIServer.Models.SourceInformation

<!DOCTYPE html>
<html>
    <head>
        <title>Source Viewer</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <style type="text/css">
            
            html, body { background: #1E1E1E; height: 100%; font-family: Calibri; color: #fff; overflow-y: hidden; }
            #editor {
                position: relative;
                width: 100%;
                height: 100%;
            }
            #hotlines { border: 1px solid #ccc; padding: 2px; margin-left: 20px; margin-bottom: 20px; }
            .myLineDecoration { background: red; }
            .myInlineDecoration { background-color: #603311; }

            table { 
                color: #333;
                font-family: Calibri, Helvetica, Arial, sans-serif;
                width: 340px; 
                border-collapse: collapse;
                border-spacing: 0;
            }
            
            td, th { 
                border: 1px solid transparent; /* No more visible border */
                height: 20px; 
                transition: all 0.3s; /* Simple transition for hover effect */
                cursor: auto;
            }

            th { border-bottom: 1px solid #ccc; }

            th {
                background: #DFDFDF;  /* Darken header a bit */
                font-weight: bold;
            }

            td {
                background: #FAFAFA;
                text-align: center;
            }

            /* Cells in even rows (2,4,6...) are one color */ 
            tr:nth-child(even) td { background: #F1F1F1; }   

            /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
            tr:nth-child(odd) td { background: #FEFEFE; }
        </style>

        <link rel="stylesheet" type="text/css" media="screen" data-name="vs/editor/editor.main" href="/vs/editor/editor.main.css" />
        <script type="text/javascript" src="/vs/loader.js"></script>
        <script type="text/javascript" src="/vs/editor/editor.main.nls.js"></script>
        <script type="text/javascript" src="/vs/editor/editor.main.js"></script>
        <script type="text/javascript" src="/vs/basic-languages/src/csharp.js"></script>
    </head>

    <body>
        <h1 style="margin-left: 20px;">Source Insight</h1>
        @if (Model != null && Model.Type == "Lines")
        {
            <h4 style="margin-left: 20px;">@Model.BuildTimeFilePath</h4>
            <table id="hotlines">
                <tr>
                    <th>Line Number</th>
                    <th>Metric</th>
                </tr>

                @foreach (var summary in Model.Summary)
                {
                    @: <tr><td><a onclick="editor.revealPosition({ lineNumber: @summary.LineNumber, column: 1 }, true, false); return false;" href="#">Line #@summary.LineNumber</a></td><td>@summary.Metric</td></tr>
                }
            </table>
            
            <div id="editor"></div>
            <script type="text/javascript">
                
                var jsonLines = @Html.Raw(Html.Json(Model.Lines));

                var text = "";
                for(var i=0; i < jsonLines.length; i++) {
                    text += jsonLines[i].Line;
                    if(i != jsonLines.length - 1)
                        text += "\n";
                }

                var editor = monaco.editor.create(document.getElementById("editor"), {
                    value: text,
                    language: "csharp",
                    lineNumbers: true,
                    readOnly: true,
                    glyphMargin: true,
                    scrollbar: { vertical: "auto", horizontal: "visible" },
                    scrollBeyondLastLine: true,
                    automaticLayout: true,
                });

                window.editor = editor;

                @foreach (var summary in Model.Summary)
                {
                    @: editor.changeDecorations(function(changeAccessor) {
                    @:     return changeAccessor.addDecoration({
                    @:         startLineNumber: @summary.LineNumber,
                    @:         startColumn: 1,
                    @:         endLineNumber: @summary.LineNumber,
                    @:        endColumn: 1
                    @:     }, {
                    @:         isWholeLine: true,
                    @:         glyphMarginClassName: 'myLineDecoration',
                    @:         inlineClassName: 'myInlineDecoration'
                    @:     });
                    @: });
                }

                @foreach (var summary in Model.Summary)
                {
                    @: window.onload = function() { editor.revealPosition({ lineNumber: @summary.LineNumber, column: 1 }, true, false); }
                    break;
                }
                
            </script>
        }
        
        @if (Model != null && Model.Type == "Url")
        {
            <h4 style="margin-left: 20px;">@Model.BuildTimeFilePath</h4>
            <table id="hotlines">
                <tr>
                    <th>Line Number</th>
                    <th>Metric</th>
                </tr>
                @foreach (var summary in Model.Summary)
                {
                    @: <tr><td>Line #@summary.LineNumber</td><td>@summary.Metric</td></tr>
                }
            </table>

            <h3 style="margin-left: 20px;">To view sources for this frame, you need to browse to <a href="@Model.Url">@Model.Url</a> (opens in a new window)</h3>
            <h4 style="margin-left: 20px">Note: Line number information will not be annotated at the destination</h4>
        }
        
        @if (Model != null && !string.IsNullOrEmpty(Model.BuildTimeFilePath))
        {
            @: <h3 style="margin-left: 20px;">Source Lookup Failed. However, its depot location is available: @Model.BuildTimeFilePath</h3>
        }
        
        @if (Model == null)
        {
            @: <h3 style="margin-left: 20px;">Source Lookup Failed.</h3>
        }
</body>
</html>